body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    background-color: #012443;
}

button {
   background: none; 
   color: #FDD2BF;
   border: 2px solid;
   padding: 1em 2em;
   font-size: 1.2em;
   transition: all 0.25s ;
   
}

button:hover {
    border-color: #FF6B6B;
    color: #ffffff;
    box-shadow: 0 0.55em 0.55em -0.4em #FF6B6B;
    transform: translateY(-0.35em);
    cursor: pointer;
    
}